body {
  height: 100%;
  margin: 0;
  background-color: #fff7f0;
  font-family: Gill Sans, sans-serif;
}

.App {
  text-align: center;
  height: 100%;
}

.App-header {
  background: radial-gradient(circle, #ffcccc, #ff8888);
  height: 18vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #151515; 
  line-height: 0;
  top: 0;
}

.App p{
  font-size: 20px;
  color: #483d43;
  font-family: Helvetica, sans-serif;
}

.Members-section {
  text-align: center;
  margin-top: 5vh;
}

.Members-title {
  margin-bottom: 20px;
  text-decoration: underline;
}

.Members {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; 
  height: auto;
  width: 100%;
}

.Member-box {
  background-color: #ffffff;
  border: 2px solid #9caf88;
  font-family: 'Courier New', Courier, monospace;
  border-radius: 10px;
  padding: 20px;
  margin: 15px;
  text-align: left;
  width: 200px;
  box-shadow: 10px 10px;
  transition: transform 0.2s;
}

.Member-box:hover {
  transform: translateY(-10px);
}